.panel { 
    color:$color1;
}

.panel-danger {
    .panel-heading {
        h3 {
            font-family: $font-primary;
            font-weight: 800;
            font-size: 35px;
            margin-bottom: 25px;
            display: block;
            color: $color5;
            max-width: 800px;
            width: 100%;
        }
    }
}
