<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ asset('/fonts/icomoon/style.css', True) }}" />
    <link rel="stylesheet" href="{{ asset('/css/prism.css', True) }}" />
    <link rel="stylesheet" href="{{ asset('/css/style.css', True) }}" />

    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/jquery.pjax.js') }}"></script>
    <script src="{{ asset('/js/prism.min.js') }}"></script>
    <script src="{{ asset('/js/audiojs/source/WebAudio.js', True) }}"></script>
    <script src="{{ asset('/js/audiojs/source/WebAudioViz.js', True) }}"></script>
    <script src="{{ asset('/js/main.js', True) }}"></script>
    
    <link rel="shortcut icon" type="image/png" href="{{ asset('/images/favicon-192x192.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('/images/favicon-192x192.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <div class="header-wrap">

        <header class="header">

            <div class="inner">

                <div class="logo-wrap" id="logo-wrap">

                    <span class="logo star"></span>
                    <span class="name"><a href="/">jon.sakas</a></span>

                </div>

                <nav class="nav" id="nav">

                    <ul class="nav-links">
                        <li><a href="resume">resume</a></li>
                    </ul>

                    <ul class="nav-info">
                        <li>jon.sakas@gmail.com</li>
                        <li>720-939-7877</li>
                    </ul>

                </nav>
                
            </div>

            <canvas class="player-viz" id="player-viz"></canvas>

        </header>

    </div>

    <div class="main-container" id="main-container">

        {% block hero %}

        {% endblock %}

        <section class="main-content">

            <div class="inner">

                {% block main %}

                {% endblock %}

            </div>

        </section>

    </div>

    <footer class="footer">

        <div class="inner">

            <a href="https://github.com/jsakas" class="icon-github icon"></a>

            <div class="powered-by">

                <strong>powered by</strong>
                <div>github</div>
                <div>python / prototype</div>
                <div>html5 / sass / javascript</div>

            </div>

        </div>

    </footer>

</body>

</html>
