{% extends "templates/base.html" %} 

{% block title %}Music{% endblock %} 

{% block main %}

<h1>Blog</h1>
    <article class="article">
        <span class="title"><a href="track.html">Reflections Blog Post</a></span>
        <span class="date">Posted April 20th, 2015</span>
        <span class="preview">Okay, okay. Most of us know how to hide content in emails these days. But I’d like to present a great way to show hidden content using media queries.</span>
    </article>
    <article class="article">
        <span class="title"><a href="track-2.html">Beggin' For Thread Track Blog Post</a></span>
        <span class="date">Posted April 20th, 2015</span>
        <span class="preview">Okay, okay. Most of us know how to hide content in emails these days. But I’d like to present a great way to show hidden content using media queries.</span>
    </article>
    <article class="article">
        <span class="title"><a href="track-2.html">ANother Track Blog Post</a></span>
        <span class="date">Posted April 20th, 2015</span>
        <span class="preview">Okay, okay. Most of us know how to hide content in emails these days. But I’d like to present a great way to show hidden content using media queries.</span>
    </article>

{% endblock %}
