{% extends "templates/base.html" %} 

{% block title %}Music{% endblock %} 

{% block main %}

<h1>Music</h1>
    <article class="article">
        <span class="title"><a href="track.html">Reflections Blog Post</a></span>
        <span class="date">Posted April 20th, 2015</span>
        <span class="preview">Okay, okay. Most of us know how to hide content in emails these days. But I’d like to present a great way to show hidden content using media queries.</span>
    </article>
    <article class="article">
        <span class="title"><a href="track-2.html">Beggin' For Thread Track Blog Post</a></span>
        <span class="date">Posted April 20th, 2015</span>
        <span class="preview">Okay, okay. Most of us know how to hide content in emails these days. But I’d like to present a great way to show hidden content using media queries.</span>
    </article>
<!--<article class="article">
    <span class="title"><a href="article.html">Simple Article</a></span>
    <span class="date">Posted April 20th, 2015</span>
    <span class="preview">Okay, okay. Most of us know how to hide content in emails these days. But I’d like to present a great way to show hidden content using media queries.</span>
</article>
<article class="article">
    <span class="title"><a href="article.html">Creating a custom preference center in ExactTarget</a></span>
    <span class="date">Posted April 20th, 2015</span>
    <span class="preview">If you are sending email out of ExactTarget, you may have seen the out-of-the-box “preference center” or “profile center”. Hideous would be a forgiving way to describe it. In this article I will walk through creating a custom preference center using AMPscript.</span>
</article>
<article class="article">
    <span class="title"><a href="article.html">Build emails the right way, using modern web technologies</a></span>
    <span class="date">Posted April 20th, 2015</span>
    <span class="preview">Everywhere I go I see people building HTML emails using static HTML files. </span>
</article>-->

{% endblock %}
