{% extends "templates/base.html" %} {% block title %}Music{% endblock %} {% block main %}
<div class="resume">
    <h1>About</h1>
    <p>Charismatic, positive team leader and forward-thinking developer with marketing knowledge, a passion for the music industry, and professional DJ and production experience.&nbsp;</p>
    <p>Balances a broad range of technical capabilities and insights with authentic consumer understanding and creative approaches to marketing problems.&nbsp;</p>
    <p>Enjoys working in team environments while delivering strong and immediate results from personal efforts. Well-networked within the dance music industry and constantly on top of the latest discoveries, technologies, and methodologies.</p>
    <h1>Professional Experience</h1>
    <h2>Beatport</h2>
    <p>Manages all aspects of email marketing which includes strategy, development, automation, platform and data. Develops the full application stack which includes a data/API layer (PHP), a backend web application layer (Python/Flask) and a front-end JavaScript layer (BackboneJS).</p>
    <h4>Email Developer / Software Engineer&nbsp;(Nov. 2014 - Present)</h4>
    <h2>DEG</h2>
    <p>Worked&nbsp;on a team of 6 creating front-end applications for web and email. All delivered products are responsive and mobile optimized. My main objective was to work with creative teams to produce content that is both user-friendly and forward thinking. We want to create the &ldquo;wow factor&rdquo;, while maximizing campaign success.&nbsp;</p>
    <h4>UI Engineer (2014)</h4>
    <ul>
        <li>Collaborated with marketing managers to brainstorm impactful campaigns</li>
        <li>Creatively matched marketing goals with appropriate technical plans</li>
    </ul>
    <h2>Merkle, Inc.</h2>
    <p>Led a team of developers and worked alongside marketing managers to come up with and execute mobile optimized, device-driven marketing campaigns for some of the world&rsquo;s best-known brands.</p>
    <h4>Email Developer (2010 - 2014)</h4>
    <ul>
        <li>Technical lead for a team of 10 developers</li>
        <li>Collaborated with marketing managers to brainstorm impactful campaigns</li>
        <li>Creatively matched marketing goals with appropriate technical plans</li>
        <li>Developed and maintained a proprietary web application for internal use</li>
        <li>Current and past brands include: Samsung, Eddie Bauer, Royal Caribbean Cruises, DirecTV, Walt Disney Parks &amp; Resorts</li>
    </ul>
    <p>&nbsp;</p>
    <h2>Beta Nightclub</h2>
    <p>Mixes, produces and performs on-trend, dance music spanning many genres. Frequently performs in shows with internationally renowned artists and maintains a strong network within the global dance community.</p>
    <h4>Resident DJ (2010 - 2014)</h4>
    <ul>
        <li>Performs mixes and original work 2-3 times monthly</li>
        <li>Crafts two- to three-hour sets, covering many genres</li>
        <li>Actively maintains daily knowledge of the most current music trends &amp; culture</li>
    </ul>
    <p>&nbsp;</p>
    <h1>Technical Skills</h1>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>Web Development, Graphic Design</h3>
                    <ul>
                        <li>HTML5 (web, email and mobile)</li>
                        <li>CSS / SASS</li>
                        <li>JavaScript / jQuery</li>
                        <li>Adobe Creative Suite</li>
                    </ul>
                </td>
                <td>
                    <h3>Computer Programming, Database</h3>
                    <ul>
                        <li>Python / Django</li>
                        <li>PHP / Zend</li>
                        <li>SQL</li>
                        <li>Linux / Unix</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Marketing</h3>
                    <ul>
                        <li>Omniture</li>
                        <li>Google Analytics</li>
                        <li>ExactTarget</li>
                        <li>CRM</li>
                        <li>Wordpress</li>
                    </ul>
                </td>
                <td>
                    <h3>Music Production, Live Performance</h3>
                    <ul>
                        <li>Ableton Live / Reason</li>
                        <li>NI Komplete / Traktor</li>
                        <li>Serato Scratch</li>
                        <li>Pioneer Pro DJ</li>
                        <li>Many other&nbsp;hardware and software tools</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
